In [150]:
# imports

import json  
import numpy
import pandas as pd
# from tqdm.notebook import tqdm
# from time import sleep
from typing import List

In [4]:
path = r'C:\Users\Marceli Morawski\Lectures_Tu_e\JBG030 DBL Data Challenge\Raw_data\airlines-1558527599826.json'

data = []

with open(path, 'r') as file: # opens a file and puts each json into a list
    for line in file:
        data.append(json.loads(line.strip()))

In [151]:
def retrieving_full_text(dictionary: dict) -> str:
    '''
    Function retrieves entire text if tweet is truncated, otherwise it returns unchanged text.
    :param dictionary: dictionary that we are working with
    :param f_text: intializes the returned text
    :returns: extended text or leaves it unchanged
    '''
    try:
        f_text = ''
        if dictionary['truncated'] == True:
            f_text = dictionary['extended_tweet'].get('full_text')
        else:
            f_text = dictionary['text']
        return f_text
    except:
        print('Wrong structure of a given tweet.')

In [147]:
def retrieving_user_mentions(dictionary: dict) -> List[int]:
    """
    Function retrieves user mentions from the tweet.
    :param dictionary: dictionary that we are working with
    :param user_ment: list with user mentions
    :returns: list with ints that represent id of mentioned users, if no users were mentioned then it returns an empty list
    """
    user_ment = []
    for user in dictionary['entities']['user_mentions']:
        try:
            user_ment.append(user['id'])
        except: 
            break
    return user_ment

In [148]:
def retrieving_hashtags(dictionary: dict) -> List[str]:
    """
    Function retrieves used hashtangs in a tweet.
    :param dictionary: dictionary that we are working with
    :param hash_lst: list with used hashtags
    :returns: list with strings that represent each hashtag, if no hashtags were used then it returns an empty list
    """
    hash_lst = []
    for hashtag in dictionary['entities']['hashtags']:
        try:
            hash_lst.append(hashtag['text'])
        except:
            break
    return hash_lst

In [149]:
def retrieving_symbols(dictionary: dict) -> List[str]:
    """
    Funtion retrieves used symbols in a tweet.
    :param dictionary: dictionary that we are working with
    :param symb_lst: list with used symbols
    :returns: list with strings that represent each symbol, if no symbols were used then it returns an empty list
    """
    symb_lst = []
    for symbol in dictionary['entities']['symbols']:
        try:
            symb_lst.append(symbol['text'])
        except:
            break
    return symb_lst

In [82]:
retrieving_user_mentions(data[1])  # testing retrieving_user_mentions() function

[880417607865815040, 1000793307688058880, 27892177]

In [80]:
retrieving_hashtags(data[5]) # testing retrieving_hashtags() function

['GoogleAlerts']

In [152]:
retrieving_full_text(data[7]) # testing retrieving_full_text() function

'@easyJet It is impossible to get in contact with you by using that e-mail address. So there is no claim yet which I can follow on that damage luggage website. So what to do?'

In [153]:
retrieving_full_text(data[6009]) # tesing retrieving_full_text() function

Wrong structure of a given tweet.

In [110]:
retrieving_symbols(data[239]) # testing retrieving_symbols() function

['RYAAY']

In [186]:
orig_tweet_lst = [] # List of tuples of all users in this file

for tweet in data:
    try: # we use try and except in thin for loop, because some of the tweets are deleted and have no stored info
        if tweet['in_reply_to_status_id'] is None and tweet['is_quote_status'] == False:
        
            tweet_id = tweet['id']
            user_id = tweet['user']['id']
            full_text = retrieving_full_text(tweet)
            timestamp_ms = tweet['timestamp_ms']
            user_mentions = retrieving_user_mentions(tweet)
            hashtags = retrieving_hashtags(tweet)
            symbols = retrieving_symbols(tweet)
            quote_count = tweet['quote_count']
            reply_count = tweet['reply_count']
            favorite_count = tweet['favorite_count']
            retweet_count = tweet['retweet_count']

            connected = (tweet_id, user_id,full_text,timestamp_ms, user_mentions, hashtags, symbols, quote_count, reply_count, favorite_count, retweet_count)

            orig_tweet_lst.append(connected)
    except:
        continue

In [187]:
len(orig_tweet_lst) # number of tweets that are original

8625

In [142]:
df

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,filter_level,lang,timestamp_ms,retweeted_status,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,delete
0,Wed May 22 12:20:00 +0000 2019,1.131173e+18,1131172858951024641,La ruta de easyJet entre Londres y Menorca tra...,"[0, 113]","<a href=""https://about.twitter.com/products/tw...",False,NaN,None,NaN,...,low,es,1558527600406,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wed May 22 12:20:01 +0000 2019,1.131173e+18,1131172864147808257,RT @bttr_as1: @goody_tracy Here’s a list of so...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,...,low,en,1558527601645,{'created_at': 'Tue May 21 19:43:11 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
2,Wed May 22 12:20:02 +0000 2019,1.131173e+18,1131172867985485824,@British_Airways,NaN,"<a href=""http://twitter.com/download/android"" ...",False,1.131033e+18,1131032916232826881,3.943766e+08,...,low,und,1558527602560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Wed May 22 12:20:12 +0000 2019,1.131173e+18,1131172909463027720,RT @TheRaceRadio: Nice change by @AmericanAir....,NaN,"<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,...,low,en,1558527612449,{'created_at': 'Wed May 22 02:53:26 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
4,Wed May 22 12:20:28 +0000 2019,1.131173e+18,1131172975682605058,RT @sandeeprrao1991: BREAKING:-\nKLM to fly 3x...,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,None,NaN,...,low,en,1558527628237,{'created_at': 'Wed May 22 12:10:24 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14384,Thu May 23 11:42:26 +0000 2019,1.131526e+18,1131525791429402625,@yvettetravel were you invited to attend this?,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,3.046262e+08,...,low,en,1558611746066,NaN,NaN,1.131507e+18,1131507203486175237,{'created_at': 'Thu May 23 10:28:34 +0000 2019...,"{'url': 'https://t.co/iLnuh7ejub', 'expanded':...",NaN
14385,Thu May 23 11:42:27 +0000 2019,1.131526e+18,1131525795804045312,RT @RoyalFamily: The Queen sees how the @Briti...,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,None,NaN,...,low,en,1558611747109,{'created_at': 'Thu May 23 11:13:08 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
14386,Thu May 23 11:42:27 +0000 2019,1.131526e+18,1131525797313949698,@RoyalSpectator @British_Airways She looks AMA...,"[33, 60]","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,1.131512e+18,1131512419417808897,1.590887e+09,...,low,en,1558611747469,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14387,Thu May 23 11:42:35 +0000 2019,1.131526e+18,1131525832500031490,@maj_fox @British_Airways Should happen more o...,"[26, 94]","<a href=""http://twitter.com/download/android"" ...",False,1.131484e+18,1131484109212196864,1.085556e+18,...,low,en,1558611755858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14388,Thu May 23 11:42:44 +0000 2019,1.131526e+18,1131525868495474688,@British_Airways delayed 5hrs on flight BA0103...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",True,NaN,None,1.833219e+07,...,low,en,1558611764440,NaN,{'full_text': '@British_Airways delayed 5hrs o...,NaN,NaN,NaN,NaN,NaN

In [101]:
df[df['delete'].isnull() == False]['entities'] # getting the index of deleted rows

6009    NaN
8216    NaN
Name: entities, dtype: object

In [105]:
data[239] # one of the tweets that contains hashtags, used for checking

{'created_at': 'Wed May 22 12:41:01 +0000 2019',
 'id': 1131178147913916416,
 'id_str': '1131178147913916416',
 'text': 'Ryanair $RYAAY Stock Rating Lowered by HSBC https://t.co/B6tmmw5wmc #stocks',
 'source': '<a href="https://zapier.com/" rel="nofollow">Zapier.com</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 61661638,
  'id_str': '61661638',
  'name': 'US Banking News',
  'screen_name': 'AmericanBanking',
  'location': 'Sioux Falls, SD',
  'url': 'http://www.americanbankingnews.com/',
  'description': 'Banks, Credit Unions & Financial Institutions',
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 6935,
  'friends_count': 2180,
  'listed_count': 743,
  'favourites_count': 0,
  'statuses_count': 2281678,
  'created_at': 'Fri Jul 31 01:58:33 +0000 2009',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': True,
  'profile_link_color': 'A60000',
  'profile_sidebar_border_color': 'ABB1D9',
  'profile_sidebar_fill_color': 'CCDAFF',
  'profile_text_color': '141414',
  'profile_use_background_image': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/541252987/Image5_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/541252987/Image5_normal.jpg',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [{'text': 'stocks', 'indices': [68, 75]}],
  'urls': [{'url': 'https://t.co/B6tmmw5wmc',
    'expanded_url': 'http://americanbankingnews.com/?p=10592423',
    'display_url': 'americanbankingnews.com/?p=10592423',
    'indices': [44, 67]}],
  'user_mentions': [],
  'symbols': [{'text': 'RYAAY', 'indices': [8, 14]}]},
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1558528861393'}

In [202]:
df[df['delete'].isnull() == False] # there are only 2 deleted tweets values

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,filter_level,lang,timestamp_ms,retweeted_status,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,delete
6009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': {'id': 1131296542533529600, 'id_str..."
8216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': {'id': 1131361972606382082, 'id_str..."

In [201]:
df[(df['in_reply_to_status_id'].isna() == True) & (df['is_quote_status'] == False)] # double checking if we get the right
                                                                                    # number of original tweets

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,filter_level,lang,timestamp_ms,retweeted_status,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,delete
0,Wed May 22 12:20:00 +0000 2019,1.131173e+18,1131172858951024641,La ruta de easyJet entre Londres y Menorca tra...,"[0, 113]","<a href=""https://about.twitter.com/products/tw...",False,NaN,None,NaN,...,low,es,1558527600406,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wed May 22 12:20:01 +0000 2019,1.131173e+18,1131172864147808257,RT @bttr_as1: @goody_tracy Here’s a list of so...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,...,low,en,1558527601645,{'created_at': 'Tue May 21 19:43:11 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
3,Wed May 22 12:20:12 +0000 2019,1.131173e+18,1131172909463027720,RT @TheRaceRadio: Nice change by @AmericanAir....,NaN,"<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,...,low,en,1558527612449,{'created_at': 'Wed May 22 02:53:26 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
4,Wed May 22 12:20:28 +0000 2019,1.131173e+18,1131172975682605058,RT @sandeeprrao1991: BREAKING:-\nKLM to fly 3x...,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,None,NaN,...,low,en,1558527628237,{'created_at': 'Wed May 22 12:10:24 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
5,Wed May 22 12:20:36 +0000 2019,1.131173e+18,1131173010235375617,EasyJet was on a slippery slope when it charge...,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,None,NaN,...,low,en,1558527636475,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14381,Thu May 23 11:42:08 +0000 2019,1.131526e+18,1131525715835248641,RT @RoyalFamily: The Queen sees how the @Briti...,NaN,"<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,...,low,en,1558611728043,{'created_at': 'Thu May 23 11:13:08 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
14382,Thu May 23 11:42:08 +0000 2019,1.131526e+18,1131525718150668289,Hi @British_Airways for some reason I've only ...,NaN,"<a href=""http://twitter.com/download/android"" ...",True,NaN,None,NaN,...,low,en,1558611728595,NaN,{'full_text': 'Hi @British_Airways for some re...,NaN,NaN,NaN,NaN,NaN
14383,Thu May 23 11:42:10 +0000 2019,1.131526e+18,1131525724786110465,RT @RoyalFamily: Her Majesty views artefacts f...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,...,low,en,1558611730177,{'created_at': 'Thu May 23 11:27:35 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
14385,Thu May 23 11:42:27 +0000 2019,1.131526e+18,1131525795804045312,RT @RoyalFamily: The Queen sees how the @Briti...,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,None,NaN,...,low,en,1558611747109,{'created_at': 'Thu May 23 11:13:08 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
14388,Thu May 23 11:42:44 +0000 2019,1.131526e+18,1131525868495474688,@British_Airways delayed 5hrs on flight BA0103...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",True,NaN,None,18332190.0,...,low,en,1558611764440,NaN,{'full_text': '@British_Airways delayed 5hrs o...,NaN,NaN,NaN,NaN,NaN